/* CSS Variables */
/* 06 FEB 2024 */

:root {

    --lightblue: rgb(131, 157, 202);

    --green: green;

    --white: #fff; 

    --purple: rgb(225, 128, 225); 

    --pink: pink; 

    --body-font-size: 25px;
    

}

body {
    background-color: var(--lightblue);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--body-font-size);
}

h1 {
    color:var (purple);
}

p {
    background-color: var(--lightblue);

}
ul li {
    color: var(--pink);
}